{% extends 'base.html' %} {% block head %}<title>Movies</title>{% endblock head
%} {% block body %}
<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="/movies" class="nav-link active" aria-current="page">Movies</a>
      </li>
      <li class="nav-item"><a href="/reviews" class="nav-link">Reviews</a></li>
      <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
    </ul>
  </header>
</div>
<div class="container">
  {% set n = len(films) %}
  <table class="table">
    <tr>
      {% for name in films.dtypes.index %} {% if name != id %}
      <th>{{name}}</th>
      {% endif %} {% endfor %}
    </tr>
    <tbody>
      {% for i in range(n) %}
      <tr>
        {% for name in films.dtypes.index %} {% if name != id %}
        <td>{{ films.loc[i, name] }}</td>
        {% endif %} {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock body %}
