{% extends 'base.html' %} {% block body %} {% import 'macros.html' as macros %}
<div class="container mt-5">
  {{ macros.smart_string() }}
</div>
<div class="album py-5 bg-light">
  <div class="container">
    <h1>Лучшее за последнее время</h1>
    <hr />
    {{ macros.render_album(top_last_time_movies, watch_later, user, len) }}
    <h1 class="mt-3">Самые обсуждаемые</h1>
    <hr />
    {{ macros.render_album(top_comments_movies, watch_later, user, len) }}
    <h1 class="mt-3">Случайная подборка</h1>
    <hr />
    {{ macros.render_album(random_movies, watch_later, user, len) }}
  </div>
</div>
{% endblock %}