{% macro render_album(data, watch_later, user, len) %}
<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-3">
  {% set n = len(data) %} {% for i in range(n) %}
  <div class="col">
    <div class="card shadow-sm">
      <a href="{{ url_for('movie.info', movie_id=data.loc[i, 'movie_id']) }}">
        <img src="{{ data.loc[i, 'poster_url'] }}" alt="no_picture.png" class="card-img-top" />
      </a>
      <div class="card-body">
        <h5 class="card-text">
          {{ data.loc[i, 'title'] }}, {{ data.loc[i, 'year'] }}
        </h5>
        <p class="card-text">{{ data.loc[i, 'genres'].replace(',', ', ') }}</p>
        <div class="d-flex justify-content-between align-items-center">
          {{ watch_later_button(data.loc[i, 'movie_id'], watch_later, user) }}
          <span>{{ data.loc[i, 'rating'] }}</span>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endmacro %}

{% macro watch_later_button(movie_id, watch_later, user) %}
{% if user.is_authenticated %}
{% if watch_later.empty %}
<form action="{{ url_for('movie.add_watch_later', movie_id=movie_id) }}" method="POST">
  <button type="submit" class="btn btn-sm btn-outline-success">
    <img src="{{ url_for('static', filename='images/plus.png') }}" width="15" height="15" class="mb-1" />
    <span>Буду смотреть</span>
  </button>
</form>
{% else %}
{% if movie_id in watch_later['movie_id'].values %}
<form action="{{ url_for('movie.remove_watch_later', movie_id=movie_id) }}" method="POST">
  <button type="submit" class="btn btn-sm btn-outline-secondary">
    <img src="{{ url_for('static', filename='images/tick.png') }}" width="15" height="15" class="mb-1" />
    <span>Добавлено</span>
  </button>
</form>
{% else %}
<form action="{{ url_for('movie.add_watch_later', movie_id=movie_id) }}" method="POST">
  <button type="submit" class="btn btn-sm btn-outline-success">
    <img src="{{ url_for('static', filename='images/plus.png') }}" width="15" height="15" class="mb-1" />
    <span>Буду смотреть</span>
  </button>
</form>
{% endif %}
{% endif %}
{% else %}
<form action="{{ url_for('movie.add_watch_later', movie_id=movie_id) }}" method="POST">
  <button type="submit" class="btn btn-sm btn-outline-secondary">
    <img src="{{ url_for('static', filename='images/plus.png') }}" width="15" height="15" class="mb-1" />
    <span>Буду смотреть</span>
  </button>
</form>
{% endif %}
{% endmacro %}

{% macro smart_string(prev_pat="") %}
<form class="d-flex" action="{{ url_for('search.index') }}" method="POST">
  <input class="form-control me-2 fs-5 ps-4" type="search"
    placeholder="Поиск по названию, жанру, актёру, режиссёру, стране и году" aria-label="Search" name="pattern"
    value="{{ prev_pat }}">
  <button type="submit" class="btn btn-outline-secondary">
    <img src="{{ url_for('static', filename='images/search.png') }}" alt="no_picture.png" width="20" height="20"
      class="mb-1" />
    Искать
  </button>
</form>
{% endmacro %}