{% extends 'base.html' %} {% block body %}
<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h1>Регистрация</h1>
      <hr />

      <form action="{{ url_for('auth.register') }}" method="POST">
        <div class="form-group">
          <label>Имя пользователя</label>
          <input class="form-control" type="text" name="username" />
        </div>

        <div class="form-group mt-2">
          <label>Пароль</label>
          <input class="form-control" type="password" name="password" />
        </div>

        <button type="submit" class="btn btn-primary mt-4">
          Зарегистрироваться
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}