{% extends 'base.html' %} {% block title %}Reviews{% endblock %} {% block body
%}
<div class="container table-responsive mt-5">
  {% set n = len(reviews) %}
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        {% for name in reviews.dtypes.index %} {% if name != id %}
        <th>{{ name }}</th>
        {% endif %} {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for i in range(n) %}
      <tr>
        {% for name in reviews.dtypes.index %}
        <td>{{ reviews.loc[i, name] }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
