<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Self Review</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/about.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/carrots.png') }}"
    />
  </head>
  <body>
    <div class="backplate">
      <div class="main-box">
        <div class="flexbox">
          <div class="left">
            <img
              src="{{ url_for('static', filename='images/photo.png') }}"
              style="width: 225px"
            />
          </div>
          <div class="right">
            <h3 style="text-transform: capitalize">
              Денисенко Семён Денисович
            </h3>
            <p class="txt"><span>Программист-разработчик</span></p>
            <p class="txt"><span>Дата рождения: 25.03.2001</span></p>
            <p class="txt"><span>Город: Владивосток</span></p>
            <p class="txt"><span>Email: denisenko.box19@gmail.com</span></p>
          </div>
        </div>
        <h4>Образование</h4>
        <p class="txt">Учебное заведение: ДВФУ</p>
        <p class="txt">Дата зачисления: сентябрь 2019</p>
        <p class="txt">Дата окончания: август 2023</p>
        <p class="txt">Специальность: программная инженерия</p>
        <h4>Повышение квалификации</h4>
        <p class="txt">"Интенсивное программирование" от МФТИ, 2021 год</p>
        <h4>Профессиональные навыки</h4>
        <p class="txt">
          C++, C#, Python, Java, JavaScript, HTML, CSS, SQL, GIT
        </p>
        <p class="txt">Умение писать структурированный и понятный код</p>
        <p class="txt">Знание ООП, алгоритмов и структур данных</p>
        <h4>О себе</h4>
        <p class="txt">
          Внимательный, усидчивый, организованный, ответственный
        </p>
        <p class="txt">Без вредный привычек</p>
        <p class="txt">Зание английского языка на среднем уровне</p>
        <h4>Ссылки</h4>
        <p class="txt">
          GIT-репозиторий:
          <a href="https://github.com/MrSemyon12"
            >https://github.com/MrSemyon12</a
          >
        </p>
        <p class="txt">
          ВКонтакте:
          <a href="https://vk.com/id232859478">https://vk.com/id232859478</a>
        </p>
      </div>
    </div>
  </body>
</html>
